.bg-sidebar {
  background-color: #353A40;
}

@keyframes slideIn {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-100%);
  }
}

.btn_sidebar {
  background-color: white;
  border-radius: 5px;
  padding: 10px 10px;
  border-style: none;
}

.btn_sidebar_kecil {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  border-style: none;
  width: 45px;
  height: 45px;
}

.btn_sidebar_kecil:hover {
  background-color: #b0c8fd;
  color: black;
  font-weight: normal;
}

.btn_sidebar:hover {
  background-color: #b0c8fd;
  color: black;
  font-weight: normal;
}

.btn_sidebar_active {
  background-color: #0D6EFD;
  color: white;
  font-weight: bold;
}