.mt-6 {
    margin-top: 300px;
}

.pt-6 {
    padding-top: 150px;
}

.gambar {
    background-color: #47A5D4;
    width: 532px;
    height: 276px;
}

.tombol-admisi {
    padding: 0 30px;
    background-color: #47A5D4;
    border-style: none;
}

.persyaratan-khusus-line {
    background-color: black;
    height: 1px;
    width: 230px;
    transition: all 0.3s ease;
}

.persyaratan-khusus-line-mobile {
    background-color: black;
    height: 1px;
    width: 160px;
    transition: all 0.3s ease;
}

.biaya-studi-line {
    background-color: black;
    height: 1px;
    width: 140px;
    transition: all 0.3s ease;
}

.biaya-studi-line-mobile {
    background-color: black;
    height: 1px;
    width: 100px;
    transition: all 0.3s ease;
}
