.bg-sidebar {
    background-color: #353A40;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#sidebar_besar {
    animation: slideIn 0.3s ease;
}
