/* assets/css/form.css */
.form-container {
  width: 784px;
  height: 600px;
  flex-shrink: 0;
  border-radius: 50px;
  background: rgba(174, 188, 198, 0.10);
  box-shadow: 20px 20px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}

.form-content {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px; /* Adjust the margin-bottom to create space between label and input */
}
.form-control {
  width: 70%;
  display: inline-block;
}

.center-btn {
  text-align: center;
}


/*untuk chatbot*/
/* assets/css/dashboard.css */
.dashboard-container {
  height: 800px; /* Adjust the height according to your content */
}

.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.floating-btn:hover {
  background-color: #0056b3;
}

.floating-icons {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 30px;
}

.floating-icons a {
  display: block;
  background-color: #28a745;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.floating-icons a:hover {
  background-color: #218838;
}
