.masthead {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    color: #ffff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.faq-text {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2em;
    position: absolute;
    top: 20px;
    left: 50px;
    margin: 0;
    padding: 20px;
    border-bottom: 2px solid white;
}

.beasiswa-text {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2em;
    position: absolute;
    top: 20px;
    left: 50px;
    margin: 0;
    padding: 20px;
    border-bottom: 2px solid white;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .masthead {
        min-height: 100vh;
    }
    .faq-text {
        font-size: calc(1.525rem + 3.3vw);
    }
}

.nav-tabs {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.accordion-button::after {
    color: white !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-bottom: 2px solid #0477bf;
}

.nav-tabs .nav-item.show .nav-link:hover,
.nav-tabs .nav-link:hover {
    border-bottom: 2px solid #0477bf;
}
