.hero-pengumuman {
    position: relative;
    height: 300px;
    overflow: hidden;
    background-image: url("{{ asset('/assets/img/pengumuman/hero-pengumuman.jpg') }}");
}

.hero-pengumuman h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #0477bf;
    text-align: center;
}

.hero-pengumuman p {
    position: absolute;
    top: 75%;
    left: 50%;
    width: 900px;
    transform: translate(-50%, -50%);
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}

.table-pengumuman table {
    border-collapse: collapse;
    width: 100%;
}

.button-search {
    border-radius: 6px;
    border: none;
    box-shadow: 0 3px 0 0 lightgrey;
}

.table-pengumuman th,
.table-pengumuman td {
    border: 1px solid #ddd; /* Warna dan ketebalan garis dapat disesuaikan */
    padding: 8px;
    text-align: left;
}

.list-judul {
    text-align: left;
}

.table-pengumuman th {
    background-color: #f2f2f2; /* Warna latar belakang header */
}
