.cat-prestasi {
    margin-top: 20px;
    margin-bottom: 70px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: white; */
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff; /* White background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup .popup-content img {
    max-width: 100%; /* Image takes 100% width of its container */
    height: auto;
    display: block;
    margin-top: 40px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.btn-close {
    cursor: pointer;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.btn-close:hover {
    background-color: #0056b3; /* Button background color on hover */
}

.popup-content img {
    max-width: 100%;
    height: auto;
}

.content-text {
    margin-top: 20px;
}

.btn-close {
    background-color: #4caf50; /* Solid background color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1001;
}

.btn-close:hover {
    background-color: #45a049;
}

.popup.active {
    display: block;
}

.popup-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.popup-date {
    font-size: 14px;
    color: black; /* Adjust the color to your preference */
}
